
<h3>Welcome Back</h3>
<p>There has been an updated from the last time you played, latest changes below. Check the changelog in game for more information.</p>
<MadnathRepairGame.Shared.Componets.ChangelogArticle Article="@Data.ChangelogData.Changelog[0]" />

@code {

}
