@page "/game/achivements"
@layout GameContainer

@inject Services.Game Game;

<div class="row container">
    <h3>Achivements</h3>
</div>
<div class="row container ml-4">
    @foreach(Models.AchivementItem achivement in Data.AchivementData.Achivements)
    {
        <MadnathRepairGame.Shared.Componets.AchivementCell Achivement="achivement" />
    }
</div>

@code {

}
