@page "/game/settings"
@layout GameContainer

@inject Services.Game Game;

<div class="row container">
    <h3>Settings</h3>
</div>
<div class="row container ml-4">
   <p>no settings currently, if you can think of one let hvergi know.</p>
</div>

@code {

}
