
<div class="col-sm-12 col-md-4 col-lg-2 bg-dark text-warning">
    <div class="bg-light text-dark border border-warning">
        <NavLink href="game"><button type="button" class="btn btn-outline-dark btn-block">Home</button></NavLink>
    </div>
    <h3 class="text-warning border-bottom">Gameplay</h3>
    <div class="bg-light text-dark border border-warning">
        <NavLink href="game/workshop"><button type="button" class="btn btn-outline-dark btn-block">Workshop</button></NavLink>
        <NavLink href="game/market"><button type="button" class="btn btn-outline-dark btn-block">Market</button></NavLink>
        <NavLink href="game/backalley"><button type="button" class="btn btn-outline-dark btn-block">Back Alley</button></NavLink>
        <NavLink href="game/masterworkguild"><button type="button" class="btn btn-outline-dark btn-block">Masterwork Guild</button></NavLink>
    </div>
    <h3 class="text-warning border-bottom">Information</h3>
    <div class="bg-light text-dark border border-warning">
        <NavLink href="game/statistics"><button type="button" class="btn btn-outline-dark btn-block">Statistics</button></NavLink>
        <NavLink href="game/achivements"><button type="button" class="btn btn-outline-dark btn-block">Achivements</button></NavLink>
    </div>
    <h3 class="text-warning border-bottom">Configuration</h3>
    <div class="bg-light text-dark border border-warning">
        <NavLink href="game/changelog"><button type="button" class="btn btn-outline-dark btn-block">Changelog</button></NavLink>
        <NavLink href="game/settings"><button type="button" class="btn btn-outline-dark btn-block">Settings</button></NavLink>
    </div>
</div>



    @code {

    }
